
<div class="list-group">
  <div class="list-group-item-container">
    {{! iterate over the list of transactions }}
    {{#each transactions}}
      <div class="row list-group-item js-list-group-item_transactions" data-id= {{_id}}>
        <div class="list-group-item__transaction-date col-md-4">
          {{dateString}}
        </div>
        <div class="list-group-item__transaction-email col-md-4">
          {{email}}
        </div>
        <div class="list-group-item__transaction-currency col-md-4">
          {{currencySymbol}}{{amount}}
        </div>
      </div>
      <div class="js-list-group-item__transaction-inner-content list-group-item__transaction-inner-content">
        <div class="col-md-12 list-group-item__transaction-service">
          Type of Service: {{service}}
        </div>
        <div class="col-md-12 list-group-item__transaction-message">
          Message: {{message}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div class="transaction-btn-wrapper"> <!-- Footer Button Section-->
  <a href="/" class="back-home-link">
    <button class="btn btn-group back-home-btn">Back</button>
  </a>
</div>
