
<div class="list-group">
  <div class="list-group-item-container">
    {{! iterate over the list of transactions }}
    {{#each transactions}}
      <div class="row list-group-item js-list-group-item_transactions" data-id={{_id}}>
        <div class="list-group-item__transaction-date col-xs-4 col-sm-4">
          {{dateString}}
        </div>
        <div class="list-group-item__transaction-email col-xs-4 col-sm-4">
          {{email}}
        </div>
        <div class="list-group-item__transaction-currency col-xs-4 col-sm-4">
          {{currencySymbol}}{{amount}}
        </div>
      </div>
      <div class="js-list-group-item__transaction-inner-content list-group-item__transaction-inner-content" aria-hidden="true">
        <div class="col-md-12 list-group-item__transaction-service">
          Type of Service: {{service}}
        </div>
        <div class="col-md-12 list-group-item__transaction-message">
          Message: {{message}}
        </div>
        <button role="button"
                name="delete button"
                class="btn js-delete-list-group-item__btn delete-list-group-item__btn">
          <span class="glyphicon glyphicon-remove"></span>
        </button>

      </div>
    {{/each}}
  </div>
</div>
<div class="transaction-btn-wrapper"> <!-- Footer Button Section-->
  <a href="/" class="back-home-link">
    <button role="button" name="back button" class="btn btn-group back-home-btn">Back</button>
  </a>
</div>
